body{
    font: 20px, "Arial", sans-serif;
}

.navbar{
    background:#253b2d;
}

.quemSomos {
    background-color: #FFF;
    color: black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #398edd;
}

.bg-footer{
    background-color: black;
    color: white;
}